.genel

{

border:1px solid #d3d3d3;
padding:800px;
width:850px;
height:830px;
background:#eee;
font:13px Arial, Tahoma, Verdana;
border: 2px solid red;
padding: 20px;
text-align: center;
width: 100%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;

}
.yazi{
      width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
}

.baslik
{
background:#333;
color:#fff;
padding:40px;
font-weight:bold;


}

.buton
{
float:right;
margin-right:25px;
border:1px solid #666;
padding:2px 5px;
background:cornflowerblue;
color:#fff;
font-weight:bold;

}